

.boton.uno::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #88E788;
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .3s ease-in-out all;
}

.boton.uno:hover::after {
	top:0;

}
button,
.boton.uno {
  padding: 15px 15px;
  font-size: 15px;
  width: auto;
  max-width: 100%;
  white-space: normal;
}

@media (max-width: 100%) {
  .boton.uno {
    width: 100%;
    font-size: 15px;
  }
}











