@media (max-width: 768px) {
	.menu {
		width: 100%;
		flex-direction: colum;
		text-align: center;
	}
	
	nav a {
		margin: 5px 0;
	}
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.boton.uno::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #88E788;
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .3s ease-in-out all;
}

.boton.uno:hover::after {
	top:0;

}
button,
.btn {
  padding: 15px 15px;
  font-size: 15px;
  width: auto;
  max-width: 100%;
  white-space: normal;
}





