
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1f3c88;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}
body {
	margin: 0;
	padding-top: 165px;

}

@media (max-width: 786px) {
	.menu {
		width: 100%;
		flex-direction: column;
		height: 20%;
		text-align: center;
	} @media (max-width: 786px) {
	.boton {
		width: 30%;
	height: 70px;
	}
	
	nav a {
		margin: 5px 0;
	}
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.boton{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 70px;
	background: #1f3c88;	
	color: #white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500 border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	
}

.titulo  {
	color: white;
}

.boton span{
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}









